* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
}

body {
    color: #2e2e2e;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'esquerda direita'
        'esquerda-baixo direita-baixo';
}

.imagem{
    display: flex;
    justify-content: center;
}

.esquerda,
.direita{
    justify-content: center;
}

.esquerda,
.direita,
.esquerda-baixo,
.direita-baixo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*lado esquerdo*/

.esquerda {
    grid-area: esquerda;
    background-color: #ccc;
}

.nomes {
    text-align: center;
}

.nickname {
    font-size: 50px;
}

.cargo {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
}

/*Lado esquerdo baixo*/

.esquerda-baixo {
    grid-area: esquerda-baixo;
    background-color: #ccc;
}

.button {
    color: #ccc;
    background-color: #2e2e2e;
    width: 100px;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #ccc;
}

.redes img {
    margin: 20px;
    width: 40px;
}

/*lado direito*/

direita {
    grid-area: direita;
    background-color: #Fff;
}

h1 {
    font-size: 60px;
}

.limitea {
    width: 80%;
    margin: 50px;
}

.direita p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 10px;
}



/*lado direito baixo*/

.direita-baixo {
    grid-area: direita-baixo;
}

@media(max-width: 1000px){
    .direita p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
}

@media(max-width: 700px) {
    .container {
        grid-template-rows: 70vh 30vh 70vh 30vh;
        grid-template-columns: 1fr;
        grid-template-areas:
            'esquerda' 
            'esquerda-baixo'
            'direita'
            'direita-baixo';
    }    
    .direita p {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
}

