* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #fff9ed;
    max-width: 900px;
    min-width: 100px;
}

.logo {
    color: #7b9846;
}

.container {

    display: grid;
    margin-top: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        'navegacao'
        'principal';

}

.navegacao {
    grid-area: navegacao;
    overflow: hidden;

}

.principal {
    grid-area: principal;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 15px 30px;
    padding: auto;
}

nav ul li a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

/*ul{
    padding: 0;
}*/
.grid-item {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'um dois tres'
        'quatro cinco seis';
}

.grid-item .col {
    width: 240px;
    /*280*/
    height: 210px;
    /*250*/
    margin: 10px;

}

.grid-item div:nth-child(1) {
    background-color: #ff9257;
    grid-area: um;
}

.grid-item div:nth-child(2) {
    background-color: #bfdf8c;
    grid-area: dois;
}

.grid-item div:nth-child(3) {
    background-color: #d1c1ee;
    grid-area: tres;
}

.grid-item div:nth-child(4) {
    background-color: #bfdf8c;
    grid-area: quatro;
}

.grid-item div:nth-child(5) {
    background-color: #d1c1ee;
    grid-area: cinco;
}

.grid-item div:nth-child(6) {
    background-color: #ff9257;
    grid-area: seis;
}

.col {
    border-radius: 5%;
}

.img-icon {
    width: 50px;
    height: 50px;
}

.img-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.col:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}