* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #fff9ed;
    max-width: 900px;
    min-width: 100px;
}

.logo {
    color: #7b9846;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: grid;
    margin-top: 15px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        'navegacao'
        'principal';
}

.navegacao {
    grid-area: navegacao;
    overflow: hidden;

}

.principal {
    grid-area: principal;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 15px 30px;
    padding: auto;
}

nav ul li a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

/*ul{
    padding: 0;
}*/
.grid-item {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'um dois tres'
        'quatro cinco seis';
    font-family: 'Montserrat', sans-serif;
}

.grid-item .col {
    width: 240px;
    /*280*/
    height: 210px;
    /*250*/
    margin: 10px;
}

.grid-item div:nth-child(1) {
    background-color: #ff9257;
    color: #fff9ed;
    grid-area: um;
}

.grid-item div:nth-child(2) {
    background-color: #bfdf8c;
    color: #7b9846;
    grid-area: dois;
}

.grid-item div:nth-child(3) {
    background-color: #d1c1ee;
    color: #7b9846;
    grid-area: tres;
}

.grid-item div:nth-child(4) {
    background-color: #bfdf8c;
    color: #7b9846;
    grid-area: quatro;
}

.grid-item div:nth-child(5) {
    background-color: #d1c1ee;
    color: #7b9846;
    grid-area: cinco;
}

.grid-item div:nth-child(6) {
    background-color: #ff9257;
    color: #fff9ed;
    grid-area: seis;
}

.col {
    border-radius: 5%;
    text-align: center;
    display: flex;
    align-items: center;
}

.img-icon {
    width: 50px;
    height: 50px;
}

.img-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.col:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 600px) {

    .grid-item .col {
        width: 176px;
        /*280*/
        height: 153px;
        /*250*/
        margin: 7px;
    }
    .grid-item {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas:
            'um dois'
            'tres quatro'
            'cinco seis';
        font-family: 'Montserrat', sans-serif;
    }

    .grid-item div:nth-child(2) {
        background-color: #d1c1ee;
    }
    .grid-item div:nth-child(5) {
        background-color: #bfdf8c;
    }

    
}